.JobContainer{

  transition: background-color 0.3s linear;
  background-color:white;
  overflow:hidden;
  max-height:150px;
  padding: 0;
  margin: 0;
}

.JobContainer:hover{
  transition: background-color 0.3s linear;
  background-color:rgb(214, 212, 212);
  cursor: pointer;
}

.JobListingHR{
  border-color: #16334a;
}

.JobListingTitle{
  color:rgb(48, 47, 47);
  font-family: 'Oswald', sans-serif;
  font-size: 200%;
  text-decoration: none;
}

.JobListingDescription{

  color:rgb(48, 47, 47);
  font-size:120%;
  font-family: 'Oswald', sans-serif;
}

.JobPicture{
  width: 100%;
  border: 1px solid #16334a;
}

.jobBaseText{
  color:white;
  font-family: 'Oswald', sans-serif;
  font-size: 300%;
  text-decoration: none;
  text-shadow: 2px 2px 4px #000000;
}

.JobOffersText{
  color:rgb(48, 47, 47);
  font-family: 'Oswald', sans-serif;
  font-size: 300%;
  text-decoration: none;
  text-shadow: 2px 2px 4px #4e4e4e;
}

.jobSubText{
  color:white;
  font-family: 'Oswald', sans-serif;
  font-size: 200%;
  text-decoration: none;
  text-shadow: 2px 2px 4px #000000;
}

#HRline{
  border-color:white !important;
}

.FadeOutClass{
  animation-name: fade_out;
  animation-duration: 3s;
}

.FadeInContainer {
  background-color:rgba(0, 0, 0, 0.349);
  border: 1px solid white;
}
.snimka{
  position: relative;
}

.compName{
  position: absolute;
  bottom: 7%;
  right: 6%;
  background: #16334ac9;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  border-radius:.25rem!important;
}

.menuLink{
  color:white;
  font-family: 'Oswald', sans-serif;
  font-size: 200%;
  text-decoration: none;
  text-shadow: 2px 2px 4px #000000;
}

.menuLink:hover {
  cursor: pointer;
  font-size: 200%;
  color: rgb(165, 165, 165);
  transition: transform 3s;
  border-color: black;
  text-decoration:none;
}


header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('video_noaudio.mp4') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

@media only screen and (max-width: 600px)
{
  .JobContainer{
    max-height: 400px;
  }
}
