
.FadeInClass{
  animation-name: fade_in;
  animation-duration: 3s;
}

.jobBaseText{
  color:white; 
  font-family: 'Oswald', sans-serif;
  font-size: 300%; 
  text-decoration: none;
  text-shadow: 2px 2px 4px #000000;
}

.jobSubText{
  color:white; 
  font-family: 'Oswald', sans-serif;
  font-size: 200%; 
  text-decoration: none;
  text-shadow: 2px 2px 4px #000000;
}

#HRline{
  border-color:white !important;
}

.FadeOutClass{
  animation-name: fade_out;
  animation-duration: 3s;
}

.FadeInContainer {
  background-color:rgba(0, 0, 0, 0.349);
  border: 1px solid white;
}

.menuLink{
  color:white; 
  font-family: 'Oswald', sans-serif;
  font-size: 200%; 
  text-decoration: none;
  text-shadow: 2px 2px 4px #000000;
}

.menuLink:hover {
  cursor: pointer;
  font-size: 200%; 
  color: rgb(165, 165, 165);
  transition: transform 3s;
  border-color: black; 
  text-decoration:none;
}


header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }

  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('video_noaudio.mp4') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }

  @keyframes fade_in{
    0% {opacity:0};
    25%{opacity:0.25};
    50%{opacity:0.5};
    75%{opacity:0.75};
    100%{opacity:1};
  }

  @keyframes fade_out{
    0% {opacity:1};
    25%{opacity:0.75};
    50%{opacity:0.5};
    75%{opacity:0.25};
    100%{opacity:0};
  }